@import "bulma";

body {
  font-family: monospace;

}

.title {
  text-align: center;
}
//home template styling //

#layout-nav {
  display: flex;
  justify-content: center;

    a{
      margin: 5px;
      color: #C5DEF1;
    }
}

.card {
  position: relative;
  height: 30px;

  h3 {
    padding-left:10px;
    margin:10px;

  }

  .fa-user {
    position: absolute;
    top: 5px;

  }
}

.users {
  column-count: 1;
  column-width: 350px;


}

.column {
  min-width: 300px;
  height: 40px;
}
.column:nth-child(odd) {
  margin: 1px;
  border: 1px solid;
  -webkit-border-image:
     -webkit-gradient(linear, 0 0, 0 100%, from(gray), to(rgba(0, 0, 0, 0))) 1 100%;
   -webkit-border-image:
     -webkit-linear-gradient(gray, rgba(0, 0, 0, 0)) 1 100%;
}

//add page styling//

#add {
  margin:auto;
  width: 400px;
}

h6{
  font-size: 40px;
  text-align: center;
}


//single styling

#singular {
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 5px;
  width: 400px;
  margin: auto;

  #image-container {
    width: 330px;
    margin: auto;
    -webkit-border-image:
       -webkit-gradient(linear, 100% 0, 0 0, from(gray), to(rgba(0, 0, 0, 0))) 1 100%;
     -webkit-border-image:
       -webkit-linear-gradient(gray, rgba(0, 0, 0, 0)) 1 100%;

    }
  }



button.delete-button {
  background-color: #95ACEC;
  color:white;
  font-family: monospace;
  border: transparent;
  border-radius: 1px;
  padding-top: 5px;

}
